<table class="table table-hover">
        <tr>
            <td width="50px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(50) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s wrote %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>